@{
}
<!-- If I have ReSharper enabled I get no intellisense for the class below.
     But if I disable ReSharper Visual Studio shows me all the Bootstrap classes. -->
<div class="container">
    <h2>Hello from the index page</h2>
</div>